{% extends 'base.html.twig' %}

{% block title %}
Backoffice Membre
{% endblock %}

{% block section %}

<div class="container">

  <h1>Bienvenue dans le Back Office Membre</h1>

  <a href="{{ path('jeremy_produit_homepage') }}" class="tdecoNone blue">Voir la liste des produits |</a>
  <a href="{{ path('jeremy_user_homepage') }}" class="tdecoNone blue">Voir la liste des membres |</a>
  <a href="{{ path('jeremy_commande_homepage') }}" class="tdecoNone blue">Voir la liste des commandes |</a>
  <a href="{{ path('jeremy_avis_homepage') }}" class="tdecoNone blue">Voir la liste des avis</a>

  <br>
<br>



<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom d'utilisateur</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Dernière connexion</th>
      <th scope="col">Modification</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    {% for membre in myResults %}
    <tr>
      <td class="delBord" scope="row">{{ membre.id }}</td>
      <td class="delBord">{{ membre.username }}</td>
      <td class="delBord">{{ membre.email }}</td>

      <td class="delBord">

      {% for status in membre.roles %}

        {% if status == 'ROLE_SUPER_ADMIN' %}
        SUPER_ADMIN

        {% elseif status == 'ROLE_ADMIN' %}
        ADMIN

        {% elseif status == 'ROLE_USER' %}
        MEMBRE

        {% endif %}

      {% endfor %}

      </td class="delBord">

      <td class="delBord">{{ membre.nom }}</td>
      <td class="delBord">{{ membre.prenom }}</td>
      <td class="delBord">{{ membre.lastLogin|date('Y-m-d') }}</td>
      <td class="delBord"><a href="backoffice=membre/action=modif{{ membre.id }}">Modifier</a></td>
      <td class="delBord"><a href="backoffice=membre/action=suppr{{ membre.id }}">Supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</div>

{% endblock %}
