{% extends 'base.html.twig' %}

{% block title %}
Backoffice Produit
{% endblock %}

{% block section %}

<div class="container">

<h1>Bienvenue dans le Back Office Produit</h1>

<a href="{{ path('jeremy_produit_homepage') }}" class="tdecoNone blue">Voir la liste des produits |</a>
<a href="{{ path('jeremy_user_homepage') }}" class="tdecoNone blue">Voir la liste des membres |</a>
<a href="{{ path('jeremy_commande_homepage') }}" class="tdecoNone blue">Voir la liste des commandes |</a>
<a href="{{ path('jeremy_avis_homepage') }}" class="tdecoNone blue">Voir la liste des avis</a>

<br><br>

<a href="backoffice=produit/action=ajouter">Ajouter un produit</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Référence</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Couleur</th>
        <th scope="col">Taille</th>
        <th scope="col">Photo</th>
        <th scope="col">Prix</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>

      {% for produit in myResults %}

      <tr>
        <td class="delBord" scope="row">{{ produit.id }}</td>
        <td class="delBord">{{ produit.reference }}</td>
        <td class="delBord">{{ produit.categorie }}</td>
        <td class="delBord">{{ produit.titre }}</td>
        <td class="delBord">{{ produit.description }}</td>
        <td class="delBord">{{ produit.couleur }}</td>
        <td class="delBord">{{ produit.taille }}</td>
        <td class="delBord">

        <img src="{{ asset('uploads/photos/' ~ produit.photo ) }}" width="100" height="100">

        </td>
        <td class="delBord">{{ produit.prix }}</td>
        <td class="delBord">{{ produit.stock }}</td>
        <td class="delBord"><a href="backoffice=produit/action=modif{{ produit.id }}">Modifier</a></td>
        <td class="delBord"><a href="backoffice=produit/action=suppr{{ produit.id }}">Supprimer</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}
