{% extends 'base.html.twig' %}

{% block section %}

<div class="container">

<h1>Bienvenue dans le Back Office Produit</h1>

<a href="{{ asset('app_dev.php/produit') }}" class="tdecoNone blue">Voir la liste des produits |</a>
<a href="{{ asset('app_dev.php/backoffice=membre') }}" class="tdecoNone blue">Voir la liste des membres |</a>
<a href="{{ asset('app_dev.php/produit') }}" class="tdecoNone blue">Voir la liste des produits |</a>
<a href="{{ asset('app_dev.php/produit') }}" class="tdecoNone blue">Voir la liste des produits |</a>

<br><br>

<a href="action=ajouter">Ajouter un produit</a>

  <table>
    <tr>
      <th>ID</th>
      <th>Référence</th>
      <th>Catégorie</th>
      <th>Titre</th>
      <th>Description</th>
      <th>Couleur</th>
      <th>Taille</th>
      <th>Photo</th>
      <th>Prix</th>
      <th>Stock</th>
    </tr>

    {% for produit in myResults %}
    <tr>
      <td>{{ produit.id }}</td>
      <td>{{ produit.reference }}</td>
      <td>{{ produit.categorie }}</td>
      <td>{{ produit.titre }}</td>
      <td>{{ produit.description }}</td>
      <td>{{ produit.couleur }}</td>
      <td>{{ produit.taille }}</td>
      <td>

      <img src="{{ asset('uploads/photos/' ~ produit.photo ) }}" width="100" height="100">

      </td>
      <td>{{ produit.prix }}</td>
      <td>{{ produit.stock }}</td>
      <td><a href="action=modif{{ produit.id }}">Modifier</a></td>
      <td><a href="action=suppr{{ produit.id }}">Supprimer</a></td>
    </tr>
    {% endfor %}

  </table>

</div>

{% endblock %}
