{% block header %}

<header class="header mb-5">

<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offer mb-3 mb-lg-0 "><a href="{{ path('jeremy_front_homepage') }}" class="btn btn-success btn-sm">Offre du jour</a><a href="{{ path('jeremy_front_homepage') }}" class="ml-1">10% de réduction dés 50€ d'achat</a></div>
      <div class="col-lg-6 text-center text-lg-right">
        <ul class="menu list-inline mb-0">

          {% if is_granted('ROLE_ADMIN') %}
            <li class="list-inline-item"><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
            <li class="list-inline-item"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
            <li class="list-inline-item"><a href="{{ path('jeremy_front_backoffice') }}">Backoffice</a></li>
          {% elseif is_granted('ROLE_USER') %}
            <li class="list-inline-item"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
            <li class="list-inline-item"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
          {% else %}
            <li class="list-inline-item"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
            <li class="list-inline-item"><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            <li class="list-inline-item"><a href="{{ path('jeremy_front_contact') }}">Nous contacter</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock %}
