{% extends 'base.html.twig' %}

{% block title %}
Backoffice Avis
{% endblock %}

{% block section %}

<div class="container">

  <h1>Bienvenue dans le Back Office Avis</h1>

  <a href="{{ path('jeremy_produit_homepage') }}" class="tdecoNone blue">Voir la liste des produits |</a>
  <a href="{{ path('jeremy_user_homepage') }}" class="tdecoNone blue">Voir la liste des membres |</a>
  <a href="{{ path('jeremy_commande_homepage') }}" class="tdecoNone blue">Voir la liste des commandes |</a>
  <a href="{{ path('jeremy_avis_homepage') }}" class="tdecoNone blue">Voir la liste des avis</a>

<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Produit</th>
      <th scope="col">Photo</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    {% for avis in myResults %}
    <tr>
      <th scope="row">{{ avis.id }}</th>
      <td class="delBord">{{ avis.username }}</td>
      <td class="delBord">{{ avis.titre }}</td>
      <td class="delBord"><img src="{{ asset('uploads/photos/' ~ avis.photo ) }}" width="100" height="100"></td>
      <td class="delBord">{{ avis.commentaire }}</td>
      <td class="delBord">{{ avis.note }}/5</td>
    </tr>
    {% endfor %}
  </tbody>


</table>

</div>

{% endblock %}
