{% extends 'base.html.twig' %}

{% block title %}
FAQ
{% endblock %}

{% block section %}

<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path('jeremy_front_homepage') }}">Accueil</a></li>
              <li aria-current="page" class="breadcrumb-item active">FAQ</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-3">
          <!--
          *** PAGES MENU ***
          _________________________________________________________
          -->
          <div class="card sidebar-menu mb-4">
            <div class="card-header">
              <h3 class="h4 card-title">Informations</h3>
            </div>
            <div class="card-body">
            <ul class="nav nav-pills flex-column">
              <li><a href="{{ path('jeremy_front_noussommes') }}" class="nav-link">Qui sommes-nous ?</a></li>
              <li><a href="{{ path('jeremy_front_contact') }}" class="nav-link">Nous contacter</a></li>
              <li><a href="{{ path('jeremy_front_faq') }}" class="nav-link">FAQ</a></li>
              <li><a href="{{ path('jeremy_front_mention') }}" class="nav-link">Mentions légales</a></li>
              <li><a href="{{ path('jeremy_front_cgv') }}" class="nav-link">Conditions générales de vente</a></li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div id="contact" class="box">
            <h1>Foire aux questions</h1>
            <p class="lead">La foire aux questions répondra aux questions génériques les plus posées afin des réponses qui nous l'espérons répondent à un maximum de vos interrogations.</p>
            <hr>
            <div id="accordion">
              <div class="card border-primary mb-3">
                <div id="headingOne" class="card-header p-0 border-0">
                  <h4 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-primary d-block text-left rounded-0">1. Retour et remboursement</a></h4>
                </div>
                <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                  <div class="card-body">
                    <p>Si vous souhaitez nous retourner un produit pour une quelconque raison.</p>
                    <ul>
                      <li>Article abimé.</li>
                      <li>Article ne correspondant pas à votre commande.</li>
                      <li>Mauvaise couleur.</li>
                      <li>Problème de taille.</li>
                    </ul>
                    <p>Contactez nous via le <a href="{{ path('jeremy_front_contact') }}">formulaire de contact</a>.</p>
                  </div>
                </div>
              </div>
              <div class="card border-primary mb-3">
                <div id="headingTwo" class="card-header p-0 border-0">
                  <h4 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="btn btn-primary d-block text-left rounded-0">2. J'ai oublié mon mot de passe</a></h4>
                </div>
                <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">

                  <div class="card-body">Veuillez cliquer sur <a href="{{ path('fos_user_resetting_request') }}">mot de passe oublié</a> et inscrivez votre adresse email, ainsi un mot de passe provisoire vous sera envoyé par mail.</div>
                </div>
              </div>
              <div class="card border-primary">
                <div id="headingThree" class="card-header p-0 border-0">
                  <h4 class="mb-0"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="btn btn-primary d-block text-left rounded-0">3. Besoin d'aide supplémentaire</a></h4>
                </div>
                <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                  <div class="card-body">Si vous avez besoin d'aide supplémentaire ou d'information quelconque, n'hésitez pas à nous contacter via notre <a href="{{ path('jeremy_front_contact') }}">formulaire de contact</a> , nous vous répondrons dans les meilleurs délais.</div>
                </div>
              </div>
            </div>
            <!-- /.accordion-->
          </div>
        </div>
        <!-- /.col-lg-9-->
      </div>
    </div>
  </div>
</div>



{% endblock %}
